<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %> | Monitor de Canales</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/dashboard.css">
  <link rel="stylesheet" href="/css/form.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <script src="/js/alertConfig.js"></script>
</head>
<body>
  <div class="containerG">
    <% if (!noSidebar) { %>
    <%- include('../partials/sidebar') %>
    <% } %>

    <main class="mainContainer <%= noSidebar ? 'full-width' : 'with-sidebar' %>">
      <header class="header">
        <h1><%= title %></h1>
        <div class="user-info"><%= user.name %></div>

      </header>

      <section class="main-content">
        <%- body %>
      </section>
    </main>
  </div>
</body>
</html>
